body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-position: center;
	background-size: cover;
	height: 100vh;
	background-image: url('img.jpg');
	overflow-y: scroll;
}

header {
    width: 99%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: silver; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    margin-right:5%;
   	
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 25px; 
}
nav ul {
    display: flex; 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

nav li {
    margin-left: 15px; 
}

nav a {
    color: Blue;
}
main {
    padding-top: 120px; /* Ensure content starts below the fixed header */
    text-align: center;
    font-size: 1em;
    font-family: italic;
    height: calc(100vh - 160px); /* Adjusted height for the main content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	overflow-y: auto;
}
h3 {
    font-size: 4em; /* Large font size */
    font-style: italic; /* Example italic font style */
}
mark {
           background-color: blue;
        }

footer {
    background-color: white; 
    color: black;
    text-align: center; 
    padding: 10px; 
    position: fixed;
    bottom: 0;
    width: 100%;
	height: 30px;
	position: fixed;
}