body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #FFCCCC;
	background-size: cover;
	height: 100vh;
	background-image: url('img2.jpg');
	overflow-y: auto;
}

header {
    width: 99%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: silver; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    margin-right:5%;	
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 25px; 
}
nav ul {
    display: flex; 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

nav li {
    margin-left: 15px; 
}

nav a {
    color: Blue;
	padding: 10px;
	
}
h3 {
    font-size: 4em; 
    font-style: italic; 
}
main {
    font-size: 2em;
    font-family: italic;
    height: calc(100vh - 160px);
    margin-top: 50px; 
	padding-top: 120px; 
}
.service-image {
    width: 600px; 
    height: auto;	
}
.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
p{
	font-size:50;
	font-color:green;
}
mark {
           background-color: Blue;
        }
footer {
    background-color: white; 
    color: black;
    text-align: center; 
    padding: 10px; 
    position: fixed;
    bottom: 0;
    width: 100%;
	height: 30px;
	position: fixed;
}